html {
    /* Prevent Phone resize */
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

* {
    /* Box Model standardizing */
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

h1 {color: tomato;}
p {color: aqua;}