// --------------- NAVIGATION ---------------
nav {
    ul {
        margin-left: $gutter;
        border-left: 1px solid rgba(0, 0, 0, 0.3);
    } // end ul
    ul li {
        width: auto;
    } // end li
    ul li:last-child {
        border-right: 1px solid rgba(0, 0, 0, 0.3);
    } // end pseudo li
    ul li a {
        padding: .5rem 1rem;
    } // end anchor
} //end nav

// --------------- MAIN ---------------
main {
    section {
        max-width: 60rem;
        margin: 0 auto;
    } // end section

    figure.photo {
        margin: .5rem $gutter;
        width: 25% - $gutterDouble;
        float: left;
    } // end figure

    div.blog article {
        width: 33.33% - $gutterDouble;
        float: left;
    } // end article

    div.blog article:nth-child(2n + 1) {
        clear: none;
    } // end odd articles
    div.blog article:nth-child(3n + 1) {
        clear: left;
    } // end articles
} // end main