html {
    // Prevent Phone resize
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

* {
    // Box Model standardizing
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

// --------------- BODY ---------------
body {
    font-family: $defaultFont;
    font-weight: $normalWeight;
    font-size: 16px;
}

// --------------- HEADER ---------------
div#header-wrapper {
    background-color: $primaryColor;
} // end wrapper

header {
    padding: 1rem $gutter;
    color: $secondaryColor;

    h1 {
        font-size: 2rem; // twice of base size - 16px
        font-weight: $normalWeight;
    } // end h1
    h2 {
        font-size: 1.3rem;
        font-weight: $normalWeight;
    } // end h2

    form {
        float: right;
    } // end form
    form input {
        margin-right: 2%;
        border: none;
        border-radius: 10px;
        padding: .2rem;
        width: 6rem;
        transition: width .5s;
    } // end input
    form input:focus {
        width: 8rem;
    } // end pseudo input
} // end header

// --------------- NAVIGATION ---------------
nav {
    background-color: $secondaryColor;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);

    ul li {
        float: left;
        width: 25%;
        border-right: 1px solid rgba(0, 0, 0, 0.3);
    } // end li
    ul li:last-child {
        border-right: none;
    } // end psuedo li
    ul li.active {
        background-color: darken($secondaryColor, 10%);
    } // end li active
    ul li a {
        display: block;
        padding: .5rem 0;
        color: $primaryColor;
        font-weight: $boldWeight;
        text-align: center;
        text-decoration: none;
        transition: background 0.75s ease, color 0.75s ease;
    } // end anchor
    ul li a:hover {
        background-color: $primaryColor;
        color: $secondaryColor;
    } // end anchor hover
} // end nav

// --------------- MAIN ---------------
main {
    figure.banner {
        width: 100%;
    } // end figure
    figure.banner img {
        width: 100%;
    } // end figure img

    h1 {
        margin: 1rem 0 0 $gutter;
        color: $primaryColor;
        font-size: 2rem;
    } // end h1
    h2 {
        margin: .75rem 0 0 $gutter;
        color: lighten($primaryColor, 10%);
        font-size: 1.5rem;
    } // end h2
    h3 {
        color: lighten($primaryColor, 20%);
        font-size: 1.2rem;
    } // end h3

    p {
        color: $fontColor;
        line-height: 130%;
    } // end p

    hr.fade-away {
        margin: 0 $gutter;
        border: none;
        height: 2px;
        background: linear-gradient(to right, rgba(66, 78, 100, 1) 0%, 
                                              rgba(66, 78, 100, 0.01) 100%)
    } // end horizontal line

    figure.photo {
        margin: .5rem $gutter;
        width: 100% - $gutterDouble;
    } // end figure
    figure.photo img {
        width: 100%;
    } // end figure img
    figure.photo > figcaption {
        color: $primaryColor;
        text-align: center;
    } // end figure figcaption

    div.pop {
        padding: 1rem 0;
        background-color: $accent;
        text-align: center;
        clear: both;

        .title {
            font-size: 2.5rem;
        } // end title
        .subtitle {
            font-size: 2rem;
            font-weight: $boldWeight;
        } // end subtitle
        .copy {
            padding: .5rem 0;
        } //end copy
        .copy span {
            color: $primaryColor;
            font-size: 3rem;
            font-weight: $boldWeight;
        } // end span
    } // end div

    div.blog article {
        margin: .5rem $gutter;
        width: 100% - $gutterDouble;
    }
} // end main

// --------------- FOOTER ---------------
div#footer-wrapper {
    background-color: $primaryColor;
} // end wrapper

footer {
    width: 100%;
    
    p {
        padding: .75rem 0;
        color: $secondaryColor;
        font-size: 0.9rem;
        text-align: center;
    } // end p
    p > a {
        color: $secondaryColor;
    }
} // end footer

// --------------- CLEARFIX ---------------
// force an element not to collapse
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}