html {
    // Prevent Phone resize
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

* {
    // Box Model standardizing
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

// --------------- BODY ---------------
body {
    font-family: $default-font;
    font-weight: $normalWeight;
    font-size: 16px;
}

// --------------- HEADER ---------------
header {
    padding: 1rem $gutter;
    background-color: $primaryColor;
    color: $secondaryColor;

    h1 {
        font-size: 2rem; // twice of base size - 16px
        font-weight: $normalWeight;
    } // end h1
    h2 {
        font-size: 1.3rem;
        font-weight: $normalWeight;
    } // end h2
} // end header

// --------------- NAVIGATION ---------------
nav {
    background-color: $secondaryColor;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);

    ul li {
        float: left;
        width: 25%;
        border-right: 1px solid rgba(0, 0, 0, 0.3)
    } // end li
    ul li:last-child {
        border-right: none;
    } // end psuedo li
    ul li.active {
        background-color: darken($secondaryColor, 10%);
    } // end li active
    ul li a {
        display: block;
        padding: .5rem 0;
        color: $primaryColor;
        font-weight: $boldWeight;
        text-align: center;
        text-decoration: none;
        transition: background 0.75s ease, color 0.75s ease;
    } // end anchor
    ul li a:hover {
        background-color: $primaryColor;
        color: $secondaryColor;
    } // end anchor hover
} // end nav

// --------------- FOOTER ---------------
footer {
    width: 100%;
    background-color: $primaryColor;

    p {
        padding: .75rem 0;
        color: $secondaryColor;
        font-size: 0.9rem;
        text-align: center;
    } // end p
    p > a {
        color: $secondaryColor;
    }
} // end footer

// --------------- CLEARFIX ---------------
// force an element not to collapse
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}