// COLORS
$primaryColor: #424e64;
$secondaryColor: #bbc2ca;
$fontColor: #35373a;

// FONT
$defaultFont: 'Lato', sans-serif; // imported google font
$normalWeight: 300;
$boldWeight: 700;

// SPACE
$gutter: 2%;
$gutterDouble: (2 * $gutter);