// COLORS
$primaryColor: #66000a;
$secondaryColor: #ccccb8;
$fontColor: #131912;
$accent: #8c8c38;

// FONT
$defaultFont: 'Lato', sans-serif; // imported google font
$normalWeight: 300;
$boldWeight: 700;

// SPACE
$gutter: 2%;
$gutterDouble: (2 * $gutter);