// COLORS
$primaryColor: #424e64;
$secondaryColor: #bbc2ca;
$font-color: #35373a;

// FONT
$default-font: 'Lato', sans-serif; // imported google font
$normalWeight: 300;
$boldWeight: 700;

// SPACE
$gutter: 2%;